<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Order Requests</title>
</head>
<body>
    {{>AdminNav}}
    <main>
        {{!-- <div>
            <table>
                <tr>
                    <th>Buyer Name</th>
                    <th>Buyer Email</th>
                    <th>Item Ordered </th>
                    <th>Amount </th>
                    <th>Order Date</th>
                    <th>Payment Status</th>
                </tr>
                    {{#each orderDetails}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.paidFor}}</td>
                            <td>{{this.amount}}</td>
                            <td>{{this.transactionDate}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                    {{/each}}
            </table>
        </div> --}}
        <h2 class="main-h2">
            Order Requests will be shown soon!
        </h2>
    </main>
</body>
{{>footer}}
</html>